{{! This will allow users to see their own posts }}

{{!-- Dashboard header --}}
<style>
	.dashboard-title { margin-top: 40px; text-align: center; }
</style>

<h1 class="text-3xl font-bold mb-4 dashboard-title">Dashboard</h1>


{{!-- Show all posts for the currently logged in user--}}
{{#each posts}}

  <article class="bg-white shadow-md rounded-lg p-6 post">
		<h3 class="text-2xl font-bold mb-2">{{this.title}}</h3>
		<p class="text-gray-700 mb-4">{{this.content}}</p>
		<p class="text-gray-700 mb-4">Date Posted: {{this.createdAt}}</p>

		{{!-- Read more button --}}
		<a
			href="/posts/{{this.id}}"
			class="inline-block bg-indigo-500 text-white rounded-lg px-4 py-2"
		>Read more</a>

		{{!-- Edit post button --}}
		{{#if this.user_id}}
		<a href="/dashboard/edit/{{this.id}}" class="edit-post-btn inline-block bg-indigo-500 text-white rounded-lg px-4 py-2">Edit Post</a>
		{{/if}}

		{{!-- Delete post button, only show if the logged in user is the owner of the post. --}}
		{{#if this.user_id}}
		<button
			type="button"
			class="delete-post-btn inline-block bg-red-500 text-white rounded-lg px-4 py-2"
			data-id="{{this.id}}"
			onclick="deletePost(this.getAttribute('data-id'))"
		>
			Delete Post
		</button>

		{{/if}}
	</article>

{{!-- If no posts are found, inform the user --}}
{{else}}
  <p style="text-align: center; margin-top: 100px; font-size: larger;">No
		posts yet.</p>
{{/each}}

{{!-- If session data exists, show the "Add New Post" button, otherwise redirect the user to the login page --}}
{{#if logged_in}}
	<div class="flex justify-center">
		<a
			href="/dashboard/new"
			class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600"
		>Add New Post</a>
	</div>
{{else}}
	<div class="flex justify-center">
		<a
			href="/login"
			class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600"
		>Login to Add New Post</a>
	</div>
{{/if}}

<script src="/js/deletePost.js"></script>