{{!-- Display all posts on the homepage --}}
{{#each posts}}

  <article class="bg-white shadow-md rounded-lg p-6">
		<h3 class="text-2xl font-bold mb-2">{{this.title}}</h3>
		<p class="text-gray-700 mb-4">{{this.content}}</p>
		<p class="text-gray-700 mb-4">
			Date Posted:
			<span title="{{this.createdAt}}">{{format_date this.createdAt}}</span> 
		</p>

		<p class="text-gray-700 mb-4">Created by: {{this.user.user_id}}</p>
		<a
			href="/posts/{{this.id}}"
			class="inline-block bg-indigo-500 text-white rounded-lg px-4 py-2"
		>Read more</a>
	</article>

{{!-- If no posts are found, inform the user --}}
{{else}}
  <p style="text-align: center; margin-top: 100px; font-size: larger;">No
		posts yet.</p>
{{/each}}

{{!-- Show the add new post button if the user is logged in --}}
{{#if logged_in}}
	<div class="flex justify-center">
		<a
			href="/dashboard/new"
			class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600"
		>
			Add New Post
		</a>
	</div>
{{else}}
	<div class="flex justify-center">
		<a
			href="/login"
			class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600"
		>
			Login to Add New Post
		</a>
	</div>
{{/if}}