{{!-- This will show the post and its comments --}}
<h1>{{post.title}}</h1>
<p>{{post.content}}</p>

{{#if logged_in}}
  {{!-- Comment form will go here --}}
  <form id="comment-form">
    <textarea id="comment-content" required></textarea>
    <button type="submit">Add Comment</button>
  </form>
{{/if}}

{{#each post.comments as |comment|}}
  <div class="comment">
    <p>{{comment.content}}</p>
    <p>Comment by {{comment.user.user_id}} on {{format_date comment.createdAt}}</p>
  </div>
{{/each}}